doctype
html
head
   script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
   script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
   script(src='https://cdn.jsdelivr.net/bootbox/4.4.0/bootbox.min.js')
   link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
   link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
   link(rel='stylesheet',href='../public/stylesheet/style.css')
   script(src='../public/jquery/cervix.js')
   title #{ __('Staging Tool-') } - #{ __('Cervix') }
body
   if(isAuthenticated)
       script.
          function about_info() {
            bootbox.alert({
               className: "aboutClass",
               closeButton: false,
               message: "<div id = \'about\'> <b>#{ __("COPYRIGHT") }</b> <p> #{ __("This product is protected by copyright. Except as specifically permitted, no portion of this tool may be distributed or reproduced by any means, or in any form, without the NICR's prior written permission.")}</p> <p>#{ __("COPYRIGHT") } © #{ __("The Queen's University of Belfast, 2013 - Northern Ireland Cancer Registry, The Queen's University of Belfast, nicr@qub.ac.uk. All rights reserved.") }<br></p> <b>#{ __("WARRANTIES, DISCLAIMERS AND LIABILITY LIMITATIONS") }</b><p> #{ __('THIS TOOL IS PROVIDED "AS IS" WITHOUT WARRANTY OR CONDITIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT.') }</p><p>#{ __("THE NICR ASSUMES NO RESPONSIBILITY FOR ERRORS OR OMISSIONS IN THIS TOOL.") }</p> <p>#{ __("IN NO EVENT SHALL THE NICR BE LIABLE FOR ANY SPECIAL, INCIDENTAL, INDIRECT OR CONSEQUENTIAL DAMAGES OF ANY KIND, OR ANY DAMAGES WHATSOEVER (INCLUDING WITHOUT LIMITATION, THOSE RESULTING FROM: (1) RELIANCE ON THE MATERIALS PRESENTED, (2) COSTS OF REPLACEMENT GOODS, (3) LOSS OF USE, DATA OR PROFITS, (4) DELAYS OR BUSINESS INTERRUPTIONS, (5) AND ANY THEORY OF LIABILITY, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF INFORMATION) WHETHER OR NOT THE NICR HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.") }</p> <p>#{ __("THIS TOOL COULD INCLUDE TECHNICAL OR OTHER INACCURACIES. HOWEVER, THE NICR MAKES NO COMMITMENT TO PROVIDE UPDATES.")}</p> </div>"});}
          function help_info() {
            bootbox.alert({
                 closeButton: false,
                 message: "<b>#{ __('Help') }</b><br> #{ __('CanStaging - the Cancer Staging Tool calculates TNM, Stage, Grade, and other site-specific stage scores from raw information entered by the user.') } <br>#{ __('Please') } <a href=\"/public/StagingToolHelp.pdf\" target=\"new\">#{ __('Download a PDF guide') }</a> #{ __('with more information') }."}); }
       header.navbar-default.navbar-fixed-top
         .container
           nav(role='navigation')
                .navbar-header
                  button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                  a.navbar-brand(href='/site') CanStaging
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                  ul.nav.navbar-nav
                    li
                      a(href='/site') #{ __('Home') }
                    li.dropdown
                      a.dropdown-toogle(href='#',data-toggle='dropdown') #{ __('Sites') }
                        span.caret
                      ul.dropdown-menu
                         li
                           a#breast1(href='/site/breast') #{ __('Breast') }
                         li
                           a#cervix1(href='') #{ __('Cervix') }
                         li
                           a#colorectal1(href='/site/colorectal') #{ __('Colorectal') }
                         li 
                           a#lung1(href='/site/lung') #{ __('Lung') }
                         li  
                           a#prostate1(href='/site/prostate') #{ __('Prostate') }
                    li
                      a(href='#') #{ __('Upload') }
                    li
                      a(href='/getLog') #{ __('Get Log') }
                  ul.nav.navbar-nav.navbar-right
                    li.dropdown
                      a.dropdown-toggle(href='#',data-toggle='dropdown') ?
                        span.caret
                      ul.dropdown-menu
                         li
                           a(href='#', role='button' onclick='help_info()') #{ __('Help') }
                         li
                           a(href='#', role='button' onclick='about_info()') #{ __('About') }
                    li.dropdown
                      a.dropdown-toggle(href='#',data-toggle='dropdown') 
                        span.glyphicon.glyphicon-user
                        |  #{ __('User') }
                        span.caret
                      ul.dropdown-menu
                        li
                          a(href='/logout') #{ __('Logout') }
       .container(style='margin-bottom: 15px;')
          table.table-responsive
              h1.cervix #{ __('Cervix') }
              form#table_form(name='table_form')
                input(name='site', value='Cervix', hidden='true', type='hidden')
                table#cervix_form
                  thead
                    tr
                      td(align='right') Tumour ID:
                      td
                        input(name='tumour_id', type='text', title='THIS ID SHOULD NOT BE A PERSONAL IDENTIFIER.', readonly='readonly')
                        input(title='Auto-generate', name='auto_id', type='checkbox',checked='checked')
                        | Auto
                  thead
                    tr#T(onclick='hide_body("T")')
                      th T
                      th
                        p#valueT TX
                  tbody#T
                    tr#cervix1
                        td #{ __('Microscopic lesion only') } 
                        td
                          input(type='radio', name='data[T[MicroLesion]]', value='T')
                          | Yes
                          input(type='radio', name='data[T[MicroLesion]]', value='F', checked='')
                          | No
                    tr#cervix2
                        td #{ __('Stromal invasion') } 
                        td
                          select#invasion(name='data[T[SI]]')
                            option(value='', disabled='', selected='', style='display:none;') #{ __('Please Choose') }
                            option(value='1', title=' ') 1
                            option(value='2', title=' ') 2
                            option(value='3', title=' ') 3
                          span(onclick='resetInv()')
                            | Reset
                    tr#cervix2
                        td #{ __('Clinically visible lesion') }
                        td
                          select#lesion(name='data[T[VL]]')
                            option(value='', disabled='', selected='', style='display:none;') #{ __('Please Choose') }
                            option(value='1', title='No') No
                            option(value='2', title='Yes, <= 4.0cm') Yes, <= 4.0 #{ __('cm') }
                            option(value='3', title=' Yes, > 4cm') Yes, > 4 #{ __('cm') } 
                          span(onclick='resetDistantT()')
                            | Reset
                    tr#cervix2
                        td #{ __('Tumor invades beyond uterus') }
                        td 
                          input(type='radio', name='data[T[uterus]]', value='T')
                          | Yes
                          input(type='radio', name='data[T[uterus]]', value='F', checked='')
                          | No
                    tr#cervix4
                        td #{ __('Parametrial involvement') } 
                        td 
                          input(type='radio', name='data[T[involvement]]', value='T')
                          | Yes
                          input(type='radio', name='data[T[involvement]]', value='F', checked='')
                          | No
                    tr#cervix4
                        td #{ __('Carcinoma involves lower 1/3 of vagina') }
                        td 
                          input(type='radio', name='data[T[carcinoma]]', value='T')
                          | Yes
                          input(type='radio', name='data[T[carcinoma]]', value='F', checked='')
                          | No
                    tr#cervix4
                        td #{ __('Extension onto pelvic wall') }
                        td 
                          input(type='radio', name='data[T[pelvicwall]]', value='T')
                          | Yes
                          input(type='radio', name='data[T[pelvicwall]]', value='F', checked='')
                          | No
                    tr#cervix4
                        td #{ __('Hydronephrosis or non-functioning kidney') }
                        td 
                          input(type='radio', name='data[T[kidney]]', value='T')
                          | Yes
                          input(type='radio', name='data[T[kidney]]', value='F', checked='')
                          | No
                    tr#cervix4
                        td #{ __('Tumor invades mucosa of bladder or rectum') }
                        td 
                          input(type='radio', name='data[T[BladderRectum]]', value='T')
                          | Yes
                          input(type='radio', name='data[T[BladderRectum]]', value='F', checked='')
                          | No
                  thead
                    tr#N(onclick='hide_body("N")')
                      th N
                      th
                        p#valueN NX
                  tbody#N
                    tr#cervix1
                       td #{ __('Number of positive nodes') }
                       td
                          input#comboboxStyle(name='data[T[positiveNode-number]]', type='number', step='1', min='1.0',max='2.0' title='0.0--',class='nodes')
                  thead
                    tr#M(onclick='hide_body("M")')
                      th M
                      th
                        p#valueM M0
                  tbody#M
                    tr#cervix1
                        td #{ __('Distant metastases') }
                        td
                          select#distantM(name='data[M[M1]]')
                            option(value='MX', disabled='', selected='', style='display:none;') #{ __('Please Choose') }
                            option(value='M0', title='') #{ __('No distant (or paraortic nodes) metastases') }
                            option(value='M1', title='') #{ __('Distant (or paraortic nodes) metastases') }
                          span(onclick='resetDistantM()')
                            | Reset
                  thead
                    tr#cervix1
                      th SG
                      th
                        p#SG
                  thead
                    tr#cervix1
                      th SimpG
                      th
                        p#SimpG
                  tbody
                    tr#cervix1
                      th SG range
                      th
                        p#SGRange
                    tr#cervix1
                      th TNM
                      th
                        p#TNM
                    tr
                      td
                      td(align='right')
                        a(href='/getLog')
                          input(type='button', value='Get log')
                        input(type='button', value='Reset Form' onclick='resetForm()')
                        input(type='button', value='Submit', onclick = 'submitForm()')
          ul.pager
            li.previous
              a(href='/site/breast') #{ __("Previous") } 
            li.next
              a(href='/site/colorectal') #{ __("Next") }            
       script.
          function hide_body(part) {$('tbody#' + part).toggle({easing: 'swing'});}
   else
     script.
        function about_info() {
          bootbox.alert({
               className: "aboutClass",
               closeButton: false,
               message: "<div id = \'about\'> <b>#{ __("COPYRIGHT") }</b> <p> #{ __("This product is protected by copyright. Except as specifically permitted, no portion of this tool may be distributed or reproduced by any means, or in any form, without the NICR's prior written permission.")}</p> <p>#{ __("COPYRIGHT") } © #{ __("The Queen's University of Belfast, 2013 - Northern Ireland Cancer Registry, The Queen's University of Belfast, nicr@qub.ac.uk. All rights reserved.") }<br></p> <b>#{ __("WARRANTIES, DISCLAIMERS AND LIABILITY LIMITATIONS") }</b><p> #{ __('THIS TOOL IS PROVIDED "AS IS" WITHOUT WARRANTY OR CONDITIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT.') }</p><p>#{ __("THE NICR ASSUMES NO RESPONSIBILITY FOR ERRORS OR OMISSIONS IN THIS TOOL.") }</p> <p>#{ __("IN NO EVENT SHALL THE NICR BE LIABLE FOR ANY SPECIAL, INCIDENTAL, INDIRECT OR CONSEQUENTIAL DAMAGES OF ANY KIND, OR ANY DAMAGES WHATSOEVER (INCLUDING WITHOUT LIMITATION, THOSE RESULTING FROM: (1) RELIANCE ON THE MATERIALS PRESENTED, (2) COSTS OF REPLACEMENT GOODS, (3) LOSS OF USE, DATA OR PROFITS, (4) DELAYS OR BUSINESS INTERRUPTIONS, (5) AND ANY THEORY OF LIABILITY, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF INFORMATION) WHETHER OR NOT THE NICR HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.") }</p> <p>#{ __("THIS TOOL COULD INCLUDE TECHNICAL OR OTHER INACCURACIES. HOWEVER, THE NICR MAKES NO COMMITMENT TO PROVIDE UPDATES.")}</p> </div>"});}
        function help_info() {
          bootbox.alert({
               closeButton: false,
               message: "<b>#{ __('Help') }</b><br> #{ __('CanStaging - the Cancer Staging Tool calculates TNM, Stage, Grade, and other site-specific stage scores from raw information entered by the user.') } <br>#{ __('Please') } <a href=\"/public/StagingToolHelp.pdf\" target=\"new\">#{ __('Download a PDF guide') }</a> #{ __('with more information') }."}); }
     header.navbar-default.navbar-fixed-top
         .container
           nav(role='navigation')
                .navbar-header
                  button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                  a.navbar-brand(href='/') CanStaging
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                  ul.nav.navbar-nav
                    li
                      a(href='/') #{ __('Home') }
                    li.dropdown
                      a.dropdown-toogle(href='/',data-toggle='dropdown') #{ __('Sites') }
                        span.caret
                      ul.dropdown-menu
                         li
                           a#breast1(href='/site/breast') #{ __('Breast') }
                         li
                           a#cervix1(href='/site/cervix') #{ __('Cervix') }
                         li
                           a#colorectal1(href='/site/colorectal') #{ __('Colorectal') }
                         li 
                           a#lung1(href='/site/lung') #{ __('Lung') }
                         li  
                           a#prostate1(href='/site/prostate') #{ __('Prostate') }
                    li
                      a(href='/') #{ __('Upload') }
                    li
                      a(href='/') #{ __('Get Log') }
                  ul.nav.navbar-nav.navbar-right
                    li.dropdown
                      a.dropdown-toggle(href='#',data-toggle='dropdown') ?
                        span.caret
                      ul.dropdown-menu
                         li
                           a(href='#', role='button' onclick='help_info()') #{ __('Help') }
                         li
                           a(href='#', role='button' onclick='about_info()') #{ __('About') }
                    li.dropdown
                      a.dropdown-toggle(href='#',data-toggle='dropdown') 
                        span.glyphicon.glyphicon-user
                        |  #{ __('User') }
                        span.caret
                      ul.dropdown-menu
                        li
                          a(href='/') #{ __('Logout') }
     .container(style='padding-top: 100px;')
          form(action='', method='post')
            label(for='username') #{ __('Username') } 
            br
            input(type='text', name='username') 
            br
            label(for='password') #{ __('Password') }
            br
            input(type='password', name = 'password')
            br
            input#loginstyle(type='submit', value='Log in')