doctype
html
head
   script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
   script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
   script(src='https://cdn.jsdelivr.net/bootbox/4.4.0/bootbox.min.js')
   script(src='../public/jquery/lung.js')
   link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
   link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
   link(rel='stylesheet',href='../public/stylesheet/style.css')
   title Staging Tool- Breast
body
   if(isAuthenticated)
     script.
         function about_info() {
            bootbox.alert({
               className: "aboutClass",
               closeButton: false,
               message: "<div id = \'about\'> <b>#{ __("COPYRIGHT") }</b> <p> #{ __("This product is protected by copyright. Except as specifically permitted, no portion of this tool may be distributed or reproduced by any means, or in any form, without the NICR's prior written permission.")}</p> <p>#{ __("COPYRIGHT") } © #{ __("The Queen's University of Belfast, 2013 - Northern Ireland Cancer Registry, The Queen's University of Belfast, nicr@qub.ac.uk. All rights reserved.") }<br></p> <b>#{ __("WARRANTIES, DISCLAIMERS AND LIABILITY LIMITATIONS") }</b><p> #{ __('THIS TOOL IS PROVIDED "AS IS" WITHOUT WARRANTY OR CONDITIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT.') }</p><p>#{ __("THE NICR ASSUMES NO RESPONSIBILITY FOR ERRORS OR OMISSIONS IN THIS TOOL.") }</p> <p>#{ __("IN NO EVENT SHALL THE NICR BE LIABLE FOR ANY SPECIAL, INCIDENTAL, INDIRECT OR CONSEQUENTIAL DAMAGES OF ANY KIND, OR ANY DAMAGES WHATSOEVER (INCLUDING WITHOUT LIMITATION, THOSE RESULTING FROM: (1) RELIANCE ON THE MATERIALS PRESENTED, (2) COSTS OF REPLACEMENT GOODS, (3) LOSS OF USE, DATA OR PROFITS, (4) DELAYS OR BUSINESS INTERRUPTIONS, (5) AND ANY THEORY OF LIABILITY, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF INFORMATION) WHETHER OR NOT THE NICR HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.") }</p> <p>#{ __("THIS TOOL COULD INCLUDE TECHNICAL OR OTHER INACCURACIES. HOWEVER, THE NICR MAKES NO COMMITMENT TO PROVIDE UPDATES.")}</p> </div>"});}
         function help_info() {
            bootbox.alert({
                 closeButton: false,
                 message: "<b>#{ __('Help') }</b><br> #{ __('CanStaging - the Cancer Staging Tool calculates TNM, Stage, Grade, and other site-specific stage scores from raw information entered by the user.') } <br>#{ __('Please') } <a href=\"/public/StagingToolHelp.pdf\" target=\"new\">#{ __('Download a PDF guide') }</a> #{ __('with more information') }."}); }
     header.navbar-default.navbar-fixed-top
         .container
           nav(role='navigation')
                .navbar-header
                  button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                  a.navbar-brand(href='/site') CanStaging
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                  ul.nav.navbar-nav
                    li
                      a(href='/site') #{ __('Home') }
                    li.dropdown
                      a.dropdown-toogle(href='#',data-toggle='dropdown') #{ __('Sites') }
                        span.caret
                      ul.dropdown-menu
                         li
                           a#breast1(href='/site/breast') #{ __('Breast') }
                         li
                           a#cervix1(href='/site/cervix') #{ __('Cervix') }
                         li
                           a#colorectal1(href='/site/colorectal') #{ __('Colorectal') }
                         li 
                           a#lung1(href='') #{ __('Lung') }
                         li  
                           a#prostate1(href='/site/prostate') #{ __('Prostate') }
                    li
                      a(href='#') #{ __('Upload') }
                    li
                      a(href='/getLog') #{ __('Get Log') }
                  ul.nav.navbar-nav.navbar-right
                    li.dropdown
                      a.dropdown-toggle(href='#',data-toggle='dropdown') ?
                        span.caret
                      ul.dropdown-menu
                         li
                           a(href='#', role='button' onclick='help_info()') #{ __('Help') }
                         li
                           a(href='#', role='button' onclick='about_info()') #{ __('About') }
                    li.dropdown
                      a.dropdown-toggle(href='#',data-toggle='dropdown') 
                        span.glyphicon.glyphicon-user
                        |  #{ __('User') }
                        span.caret
                      ul.dropdown-menu
                        li
                          a(href='/logout') #{ __('Logout') }
     .container(style='margin-bottom: 15px;')
        table.table-responsive
            h1.lung #{ __('Lung') } 
            form#table_form(name='table_form')
              input(name='site', value='Lung', hidden='true', type='hidden')
              table#lung_form
                thead
                  tr
                    td(align='right') Tumour ID:
                    td
                      input(name='tumour_id', type='text', title='THIS ID SHOULD NOT BE A PERSONAL IDENTIFIER.', readonly='readonly')
                      input(title='Auto-generate', name='auto_id', type='checkbox', checked='checked')
                      | Auto
                thead
                  tr#T(onclick='hide_body("T")')
                    th T
                    th
                      p#valueT TX
                tbody#T
                  tr#lung1
                    td #{ __('Enter size of invasive tumour') } #{ __('cm') }
                    td
                      input(name='data[T[Size-invasive-tumour]]', type='number', step='0.1', min='0.0', max='50.0', title='0.0-50.0' class='tumorSize')
                      input(name='data[T[Size-invasive-tumour]]', type='hidden', step='0.1', min='0.0', max='50.0', title='0.0-50.0' id='tumorKey' class='monkey')
                  tr#lung2
                    td #{ __('Bronchial invasion') } 
                    td
                      select#invr(name='data[T[TX]]')
                          option(value='', disabled='', selected='', style='display:none;') #{ __('Please Choose') } 
                          option(value='1', title='Tumour does NOT invade main bronchus') #{ __('Tumour does NOT invade main bronchus') }
                          option(value='2',title='Tumour involves the main bronchus >= 2cm distal to the carina') #{ __('Tumour involves the main bronchus >= 2cm distal to the carina') }
                          option(value='3',title='Tumour involves the main brochus < 2cm distal to the carina') #{ __('Tumour involves the main brochus < 2cm distal to the carina') }
                          option(value='4',title='Tumour involves the carina or trachea') #{ __('Tumour involves the carina or trachea') }
                      span(onclick='resetDistantT()')
                        | Reset 
                  tr#lung2
                    td #{ __('Invades the visceral pleura') }  
                    td
                      input(type='radio', name='data[T[visceralpleura]]', value='T')
                      | Yes
                      input(type='radio', name='data[T[visceralpleura]]', value='F', checked='')
                      | No
                  tr#lung2
                    td #{ __('Atelectasis or obstructive pneumonitis (NOT entire lung)') } 
                    td
                      input(type='radio', name='data[T[Atelectasis_pneumonitis]]', value='T')
                      | Yes
                      input(type='radio', name='data[T[Atelectasis_pneumonitis]]', value='F', checked='')
                      | No
                  tr#lung3
                    td #{ __('Tumour invades any of the following: chest wall or rib; diaphragm; phrenic nerve; mediastinal pleura; parietal pericardium') }
                    td
                      input(type='radio', name='data[T[tumor_invades]]', value='T')
                      | Yes
                      input(type='radio', name='data[T[tumor_invades]]', value='F', checked='')
                      | No
                  tr#lung3
                    td #{ __('Separate tumour nodules in same lobe') } 
                    td
                      input(type='radio', name='data[T[tumor_nodules]]', value='T')
                      | Yes
                      input(type='radio', name='data[T[tumor_nodules]]', value='F', checked='')
                      | No
                  tr#lung3
                    td #{ __('Atelectasis or obstructive pneumonitis of the entire lung') }  
                    td
                      input(type='radio', name='data[T[pneumonitis]]', value='T')
                      | Yes
                      input(type='radio', name='data[T[pneumonitis]]', value='F', checked='')
                      | No
                  tr#lung4
                    td #{ __('Vocal cord paralysis') } 
                    td
                      input(type='radio', name='data[T[vocal_cord]]', value='T')
                      | Yes
                      input(type='radio', name='data[T[vocal_cord]]', value='F', checked='')
                      | No
                  tr#lung4
                    td #{ __('Separate tumour nodule(s) in a different ipsilateral lobe') }  
                    td
                      input(type='radio', name='data[T[ipsilateral_lobe]]', value='T')
                      | Yes
                      input(type='radio', name='data[T[ipsilateral_lobe]]', value='F', checked='')
                      | No
                  tr#lung4
                    td #{ __('Tumour invades any of the following: mediastinum; heart or great vessels; recurrent laryngeal nerve; vertebral body; oesophagus') }  
                    td
                      input(type='radio', name='data[T[tumor_mhg]]', value='T')
                      | Yes
                      input(type='radio', name='data[T[tumor_mhg]]', value='F', checked='')
                      | No
                thead
                  tr#N(onclick='hide_body("N")')
                    th N
                    th
                      p#valueN NX
                tbody#N
                  tr#lung1
                    td #{ __('Regional lymph nodes') }
                    td
                      select(name='data[N[NX]]', OnChange='probalertN(this)',id='lymph')
                          option(value='', disabled='', selected='', style='display:none;') #{ __('Please Choose') }
                          option(value='N0', title='No regional lymph node metastases') #{ __('No regional lymph node metastases') }
                          option(value='N1', title='Metastases to ipsilateral peribronchial AND/OR ipsilateral hilar nodes AND intrapulmonary nodes') #{ __('Metastases to ipsilateral peribronchial AND/OR ipsilateral hilar nodes AND intrapulmonary nodes') }
                          option(value='N2',title='Metastases to ipsilateral mediastinal AND/OR subcarinal nodes') #{ __('Metastases to ipsilateral mediastinal AND/OR subcarinal nodes') }
                          option(value='N3',title='Metastases to contralateral mediastinal, contralateral hilar, ipsilateral or contralateral scalene, or supraclavicular nodes') #{ __('Metastases to contralateral mediastinal, contralateral hilar, ipsilateral or contralateral scalene, or supraclavicular nodes') } 
                      span(onclick='resetDistantN()')
                        | Reset
                thead
                  tr#M(onclick='hide_body("M")')
                    th M
                    th
                      p#valueM M0
                tbody#M
                  tr#lung1
                    td #{ __('Distant metastases') }
                    td
                      select(name='data[M[M0]]',OnChange='probalertM(this)',id='metastas')
                         option(value='', disabled='', selected='', style='display:none;') #{ __('Please Choose') }
                         option(value='M0',title='No distant metastases') #{ __('No distant metastases') }
                         option(value='M1a',title='Separate tumour nodule(s) in a contralateral lobe tumour with pleural nodes or malignant pleural (or pericardial) effusion') #{ __('Separate tumour nodule(s) in a contralateral lobe tumour with pleural nodes or malignant pleural (or pericardial) effusion') }
                         option(value='M1b',title='Distant metastases') #{ __('Distant metastases') }
                      span(onclick='resetDistantM()')
                        | Reset
                thead 
                  tr#lung1
                    th SG
                    th
                      p#SG
                tbody
                thead
                  tr#lung1
                    th SimpG
                    th
                      p#SimpG
                tbody
                tbody
                  tr#lung1
                    th SG range
                    th
                      p#SGRange
                  tr#lung1
                    th TNM
                    th
                      p#TNM
                  tr#buttons
                    td
                    td(align='right')
                        a(href='/getLog')
                          input(type='button', value='Get log')
                        input(type='button', value='Reset Form' onclick='ResetForm()')
                        input(type='button', value='Submit', onclick = 'submitForm()')
        ul.pager
              li.previous
                a(href='/site/colorectal') #{ __("Previous") } 
              li.next
                a(href='/site/prostate') #{ __("Next") }
     script.
        function hide_body(body) {$('tbody#' + body).toggle({easing: 'swing'})}
   else
     script.
        function about_info() {
          bootbox.alert({
               className: "aboutClass",
               closeButton: false,
               message: "<div id = \'about\'> <b>#{ __("COPYRIGHT") }</b> <p> #{ __("This product is protected by copyright. Except as specifically permitted, no portion of this tool may be distributed or reproduced by any means, or in any form, without the NICR's prior written permission.")}</p> <p>#{ __("COPYRIGHT") } © #{ __("The Queen's University of Belfast, 2013 - Northern Ireland Cancer Registry, The Queen's University of Belfast, nicr@qub.ac.uk. All rights reserved.") }<br></p> <b>#{ __("WARRANTIES, DISCLAIMERS AND LIABILITY LIMITATIONS") }</b><p> #{ __('THIS TOOL IS PROVIDED "AS IS" WITHOUT WARRANTY OR CONDITIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT.') }</p><p>#{ __("THE NICR ASSUMES NO RESPONSIBILITY FOR ERRORS OR OMISSIONS IN THIS TOOL.") }</p> <p>#{ __("IN NO EVENT SHALL THE NICR BE LIABLE FOR ANY SPECIAL, INCIDENTAL, INDIRECT OR CONSEQUENTIAL DAMAGES OF ANY KIND, OR ANY DAMAGES WHATSOEVER (INCLUDING WITHOUT LIMITATION, THOSE RESULTING FROM: (1) RELIANCE ON THE MATERIALS PRESENTED, (2) COSTS OF REPLACEMENT GOODS, (3) LOSS OF USE, DATA OR PROFITS, (4) DELAYS OR BUSINESS INTERRUPTIONS, (5) AND ANY THEORY OF LIABILITY, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF INFORMATION) WHETHER OR NOT THE NICR HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.") }</p> <p>#{ __("THIS TOOL COULD INCLUDE TECHNICAL OR OTHER INACCURACIES. HOWEVER, THE NICR MAKES NO COMMITMENT TO PROVIDE UPDATES.")}</p> </div>"});}
        function help_info() {
          bootbox.alert({
               closeButton: false,
               message: "<b>#{ __('Help') }</b><br> #{ __('CanStaging - the Cancer Staging Tool calculates TNM, Stage, Grade, and other site-specific stage scores from raw information entered by the user.') } <br>#{ __('Please') } <a href=\"/public/StagingToolHelp.pdf\" target=\"new\">#{ __('Download a PDF guide') }</a> #{ __('with more information') }."}); }
     header.navbar-default.navbar-fixed-top
         .container
           nav(role='navigation')
                .navbar-header
                  button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                  a.navbar-brand(href='/') CanStaging
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                  ul.nav.navbar-nav
                    li
                      a(href='/') #{ __('Home') }
                    li.dropdown
                      a.dropdown-toogle(href='/',data-toggle='dropdown') #{ __('Sites') }
                        span.caret
                      ul.dropdown-menu
                         li
                           a#breast1(href='/site/breast') #{ __('Breast') }
                         li
                           a#cervix1(href='/site/cervix') #{ __('Cervix') }
                         li
                           a#colorectal1(href='/site/colorectal') #{ __('Colorectal') }
                         li 
                           a#lung1(href='/site/lung') #{ __('Lung') }
                         li  
                           a#prostate1(href='/site/prostate') #{ __('Prostate') }
                    li
                      a(href='/') #{ __('Upload') }
                    li
                      a(href='/') #{ __('Get Log') }
                  ul.nav.navbar-nav.navbar-right
                    li.dropdown
                      a.dropdown-toggle(href='#',data-toggle='dropdown') ?
                        span.caret
                      ul.dropdown-menu
                         li
                           a(href='#', role='button' onclick='help_info()') #{ __('Help') }
                         li
                           a(href='#', role='button' onclick='about_info()') #{ __('About') }
                    li.dropdown
                      a.dropdown-toggle(href='#',data-toggle='dropdown') 
                        span.glyphicon.glyphicon-user
                        |  #{ __('User') }
                        span.caret
                      ul.dropdown-menu
                        li
                          a(href='/') #{ __('Logout') }
     .container(style='padding-top: 100px;')
          form(action='', method='post')
            label(for='username') #{ __('Username') } 
            br
            input(type='text', name='username') 
            br
            label(for='password') #{ __('Password') }
            br
            input(type='password', name = 'password')
            br
            input#loginstyle(type='submit', value='Log in')